/* OrtoRNIDS Regular */
@font-face {
  font-family: 'OrtoRNIDS';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('assets/fonts/OrtoRNIDS-Regular.otf') format('opentype');
}

/* OrtoRNIDS Bold */
@font-face {
  font-family: 'OrtoRNIDS';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('assets/fonts/OrtoRNIDS-Bold.otf') format('opentype');
}

/* Force OrtoRNIDS font application */
.rasa-chatbot-widget,
.rasa-chatbot-widget * {
  font-family: 'OrtoRNIDS', 'Lato', sans-serif !important;
}
