:root {
  --launcher-background-color: var(--color-primary);
  --launcher-color: var(--color-secondary);
  --messenger-background-color: var(--color-secondary);
  --header-background-color: var(--color-primary);
  --header-color: var(--color-secondary);
  --input-placeholder-color: var(--color-secondary-opposite);
  --input-placeholder-opacity: 0.5;
  --input-background-color: var(--color-secondary);
  --input-color: var(--color-secondary-opposite);
  --input-send-color: var(--color-primary);
  --session-divider-color: var(--color-secondary-10);
  --session-divider-text-color: var(--color-secondary-40);
  --message-button-color: var(--color-primary);
  --message-button-background-color: var(--color-secondary);
  --message-button-border-color: var(--color-primary);
  --message-selected-button-color: var(--color-secondary);
  --message-selected-button-background-color: var(--color-primary);
  --message-selected-button-border-color: var(--color-primary);
}
