:root {
  --launcher-background-color: var(--color-primary);
  --launcher-color: var(--color-secondary);
  --messenger-background-color: var(--color-secondary);
  --header-background-color: var(--color-primary);
  --header-color: var(--color-secondary);
}
